@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<h2>لیست کتاب ها</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Image</th>
        <th>نام کتاب</th>
        <th>سال انتشار</th>
    </tr>
    @foreach (var book in Model.books)
    {
        <tr>
            
            <td>@book.Id</td>
            <td> <img src="Https://s3.refhub.ir/@book.Thumb"  style="max-height:150px;" /></td>
            <td>@book.Name</td>
            <td>@book.Year</td>
        </tr>
    }
</table>